REDMINE_URL=https://redmine.example.com
REDMINE_API_KEY=
REDMINE_ALLOWED_HOSTS=redmine.example.com
# For local/private http Redmine, use the IP/hostname and allowlist it, e.g.:
# REDMINE_URL=http://192.168.10.50/redmine
# REDMINE_ALLOWED_HOSTS=192.168.10.50
# REDMINE_CA_CERT_PATH=
# REDMINE_DEFAULT_PROJECT_ID=
# REDMINE_REQUEST_TIMEOUT_MS=15000
# REDMINE_CONNECT_TIMEOUT_MS=5000
# REDMINE_MAX_RESULT_COUNT=100
# REDMINE_LOG_LEVEL=info
